<div class="container form-signin">
	<div class="jumbotron">

		<form class="form-signin">
			<h2 class="form-signin-heading">{{titleText}}</h2>
			{{#js-feedback-message isShowed=message.show timer=null type="error" hasCloseButton=false}}
				{{message.text}}
			{{/js-feedback-message}}

			{{partial "js-login-form"}}
			<div>
				<button class="btn btn-lg btn-primary btn-block" {{action "login"}}>{{loginText}}</button>
			</div>
		</form>
	</div>
</div>