<h2 id="title">Welcome to Ember</h2>

{{outlet}}

{{js-select content=selectList selectedValue=selectValue}}

{{date}}
{{js-date-picker format="dd/mm/yyyy" value=date}}

{{#js-feedback-message isShowed='true' type=message.type timer=message.timer}}
	{{message.text}}
{{/js-feedback-message}}

{{#js-feedback-message isShowed=message2.show type=message2.type timer=message2.timer}}
	{{message2.text}}
{{/js-feedback-message}}

{{render "login"}}

